body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f9;
}

.container{
    width:70%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
}

h1,h2{
    color:#2c3e50;
}

input,select{
    width:80%;
    padding:10px;
    margin:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

button{
    background:#007bff;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0056b3;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table,th,td{
    border:1px solid #ddd;
}

th{
    background:#007bff;
    color:white;
}

th,td{
    padding:12px;
    text-align:center;
}

tr:nth-child(even){
    background:#f2f2f2;
}

a{
    text-decoration:none;
}